<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <a class="navbar-brand text-white">Products</a>

  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/add-products">Add product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/view-products">View product</a>
      </li>
    </ul>
      <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item ml-auto">
        <a class="nav-link text-white" routerLink="/cart"><i class="fas fa-shopping-cart"></i>cart</a>
      </li>
    </ul>

  </div>
</nav>





