<div class="container-fluid">
  <h2 class="text-center"> product list</h2>
  <div class="container row m-5 pl-5">
    <div class="card col-md-3 mt-2" *ngFor='let prd of product.product;index as i;'>
      <div class="card-head text-center pt-2 pb-2">{{prd.prodName}}</div>
      <img   class="img-fluid" [src]="prd.prodImageUrl" alt="../">
      <div class="card-body">
        <p><b>Price</b>: {{prd.prodPrice}}</p>
        <p>Quantity: {{prd.prodDescription}}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-danger float-left" (click)='product.edit(prd,i)'>
          Edit
        </button>
        <button class="btn btn-outline-danger float-right" (click)='product.delete(i)'>
          Delete
        </button>
      </div>
    </div>

  </div>
</div>
